<div class="front-page-container">
  <h1>Frontend Developer</h1>
  <h2>Me dedico al diseño y desarrollo de aplicaciones web, haciendo que estas sean hermosas y faciles de usar. </h2>
  <div class="img-profile-container">
    <app-img [imgValue]="imgProfile" [imgStyle]="{'border-radius':'50%'}"></app-img>
  </div>
  <div class="img-down-container">
    <app-img [imgValue]="imgDownProfile"></app-img>
  </div>
  <div class="info-page-container">
    <h1>Hi, I’m Felipe. Nice to meet you.</h1>
    <h2>Since beginning my journey as a freelance designer over 11 years ago, I've done remote work for agencies,
      consulted for startups, and collaborated with talented people to create digital products for both business and
      consumer use. I'm quietly confident, naturally curious, and perpetually working on improving my chops one design
      problem at a time.</h2>
  </div>
</div>